body{
    background-color: #444444;
    position: relative;
}
body.light-mode{
    background-color: white;
}
.return{
    margin-left: 2rem;
    width: 5.8rem;
    height: 5.8rem;
    margin-top: -3rem;
}
.box0{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-betwwen;
    column-gap: 2rem;
    margin-top: 3.1rem;
}
.title{
    color: white;
    font-size: 6rem;
    font-family: serif;
    margin-left: 0.8rem;
}
body.light-mode .title{
    color: #444444;
}
.logo{
    height: 5rem;
    width: 5rem;
}
.pause{
    margin-left: 2rem;
    width: 5rem;
    height: 5rem;
    margin-top: -2.4rem;
}
.box1,
.box3{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    margin-top: 5rem;
}
.box1{
    margin-top: 12rem;
}
.box2{
    display: grid;
    align-items: center; 
    justify-content: center;
    grid-template-columns: 14rem 14rem 14rem;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin: 9rem 0rem;
}
.case{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    background-color: #323232;
    width: 14rem;
    height: 14rem;
    border: none;
    border-radius: 4rem;
    box-shadow: 0 0 2rem #323232;
}
body.light-mode .case{
    background-color: #d5f4fd;
    box-shadow: 0 0 1.5rem grey;
}
.x,
.o{
    width: 5rem;
    height: 5rem;
}
.xg{
    width: 2.5rem;
    height: 2.5rem;
}
.og{
    width: 3rem;
    height: 3rem;
}
.o{
    margin: 0px 10px;
}
.xname{
    margin: 0 1.7rem;
}
.xname,
.oname{
    color: white;
    font-size: 3.5rem;
}
body.light-mode .xname{
    color: #444444;
}
body.light-mode .oname{
    color: #444444;
}
.score1,
.score2{
    background-color: #323232;
    height: 4.8rem;
    width: 8.5rem;
    border: none;
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    box-shadow: 0 0 2rem #323232;
}
body.light-mode .score1{
    background-color: white;
    box-shadow: 0 0 1rem grey;
}
body.light-mode .score2{
    background-color: white;
    box-shadow: 0 0 1rem grey;
}
.score1{
    margin-left: 2rem;
}
.score2{
    margin-right: 2rem;
}
.player1,
.player2{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1.5rem;
}
.player1{
    padding: 1.8rem 0.1rem 1.8rem 1.8rem;
    border: 0.37rem solid #18ffff;
    margin-right: 1rem;
}
.player2{
    padding: 1.8rem 1.8rem 1.8rem 0.1rem;
    margin-left: 1rem;
}
.oo{
    font-size: 2.6rem;
    color: white;
}
body.light-mode .oo{
    color: #444444;
}

.flow{
    position: absolute;
    background-color: #2d2d2d91;
    width: 100vw;
    height: 100vh;
    top: -3rem;
    bottom: -25px;
    left: -8px;
    display: none;
}
.alert {
    position: absolute;
    background-color: #505050;
    width: 47rem;
    height: 34rem;
    border-radius: 4rem;
    border: 0.3rem solid white;
    top: 30%;
    left: 12%; 
}
body.light-mode .alert{
    background-color: #d5f4fd;
    border-color: #434343;
}
.match{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #505050;
    width: 24rem;
    height: 8.5rem;
    border-radius: 3.5rem;
    border: 0.3rem solid white;
    top: -5rem;
    left: 11.8rem; 
    color: white;
    column-gap: 1.5rem;
    font-size: 3rem;   
}
body.light-mode .match{
    background-color: #d5f4fd;
    color: #434343;
    border-color: #434343;
}
.draw{
    width: 8rem;
    height: 8rem;
    margin-left: -3rem; 
}
.comment{
    position: absolute;
    top: 5.5rem;
    left: 6rem;
    font-size: 5rem;
    font-wheight: 500;
    color: white;
}
body.light-mode .comment{
    color: #434343;
}
.optionicons{
    width: 7rem;
    height: 7rem;
}
.options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute; 
    left: 4rem;
    bottom: 2.5rem;
    column-gap: 2.5rem;
}
.mbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
    color: white;
    font-size: 2.5rem;
}
body.light-mode .mbox{
    color: #434343;
}
.flow1{
    position: absolute;
    background-color: #2d2d2d91;
    width: 100vw;
    height: 100vh;
    top: -3rem;
    bottom: -25px;
    left: -8px;
    display: none;
}
.alert1{
    position: absolute;
    background-color: #505050;
    width: 47rem;
    height: 34rem;
    border-radius: 4rem;
    border: 0.3rem solid white;
    top: 30%;
    left: 12%; 
}
body.light-mode .alert1{
    background-color: #d5f4fd;
    border-color: #434343;
}
.match1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #505050;
    width: 24rem;
    height: 8.5rem;
    border-radius: 3.5rem;
    border: 0.3rem solid white;
    top: -5rem;
    left: 11.8rem; 
    color: white;
    column-gap: 1.5rem;
    font-size: 3rem;
}
body.light-mode .match1{
    background-color: #d5f4fd;
    color: #434343;
    border-color: #434343;
}
.draw1{
    width: 8rem;
    height: 8rem;
    margin-left: -3rem;     
}
.optionicons1{
    width: 7rem;
    height: 7rem;
}
.options1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute; 
    left: 4rem;
    top: 10rem;
    column-gap: 2.5rem;
}
.mbox1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
    color: white;
    font-size: 2.5rem;
    border: 0.3rem solid white;
    border-radius: 3.5rem;
    padding: 1.8rem 1.8rem;
    
}
body.light-mode .mbox1{
    color: #434343;
    border-color: #434343;
}
.finish{
    position: absolute;
    width: 6rem;
    height: 6rem;
    right: 1.5rem;
    top: 2.5rem;
}
