body{
    position: relative;
    background-color: #444444;
}
body.light-mode {
    background-color: white;
}
.box0{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    margin-top: 20px;
}
.title1{
    color: white;
    font-size: 2rem;
    font-family: serif;
    margin-left: 19px;
}
body.light-mode .title1{
    color: #444444;
}
.logo{
    height: 30px;
    width: 30px;
}
.title{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    margin-left: 10px;
}
body.light-mode .title{
    color: #444444;
}
.box2{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    column-gap: 20px;
}
.box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    margin-top: 50px;
    margin-left: 10px;
    display: none;
}
.box4{
    display:flex;
    align-items: end;
    justify-content: end;
    display: none;
    transition: 200ms;
}
.name1,
.name2{

    position: relative;
}
.return{
    margin-left: 0.3rem;
    width: 2rem;
    height: 2rem;
    margin-top: -20px;
}
.input{
    width: 17rem;
    height: 2.4rem;
    outline: none;
    border: 2px solid white;
    border-radius: 0.5rem;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    padding-left: 0.7rem;
    z-index: 1;
}
body.light-mode .input{
    color: grey;
    border-color: grey;
    box-shadow: 2px 1px 2px grey;
}
.label{
    color: white;
    position: absolute;
    left: 0.9rem;
    top: 0.8rem;
    transition: 200ms;
}
body.light-mode .label{
    color: #444444;
}
.input:focus{
    border-color: #18FFFF;
}
body.light-mode .input:focus{
    border-color: #13e2d9;
}
.input:focus ~ .label,
.input:valid ~ .label{
    transition: 200ms;
    top: -0.5rem;
    left: 0.6rem;
    background-color: #444444;
    color: #18ffff;
    font-size: 0.9rem;
    padding: 0px 2px;
    z-index:2;
}
body.light-mode 
.input:focus ~ .label{
    background-color: white;
    color: #13e2d9;
}
body.light-mode
.input:valid ~ .label{
    background-color: white;
}
.start{
    margin-top: 50px;
    margin-right: 25px;
    width: 7rem;
    height: 2.3rem;
    border: 2px solid #2beaff;
    border-radius: 10rem;
    background-color: white;
    color: #2beaff;
    font-size: 1rem;
    opacity: 0.4;
}
body.light-mode .start{
    background-color: #13e2d9;
    color: white;
    border: none;
}
.radio1 img,
.radio2 img{
    width: 2rem;
    height: 2rem;
    margin-bottom: 6px;
}
.radio1,
.radio2{
    background-color: transparent;
    border: 2px solid #18ffff;
    border-radius: 10px;
    position: relative;
    width: 6rem;
    height: 7rem;
    transition: 100ms;
}
body.light-mode
.radio1{
    border-color: #13e2d9;
}
body.light-mode
.radio2{
    border-color: #13e2d9;
}
.radio1 input,
.radio2 input{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 2;
}
.c1,
.c2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
